
  //     body {
  //   height: 100%;
  // }
  #monCarousel{
    z-index: 1;
    top: 70px;
  }
  h1.titre-carousel{
    text-shadow: 2px 2px 2px black;
    
  }
  h3.titre-carousel{
    text-shadow: 2px 2px 2px black;
    
  }
  .carousel-caption.titre {
    position: absolute;
    z-index: 1;
    width:100%;
    height:100%;
    text-shadow: 2px 2px 2px black;
    left: 0;    
}
.ti{
  object-fit: cover;
}
