{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block body %}
    <p>
        Si un compte correspondant à votre e-mail existe, un e-mail contenant un lien que vous pouvez utiliser pour réinitialiser votre mot de passe a été envoyé.
        Ce lien expire dans {{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
    </p>
    <p>Si vous ne recevez pas un e-mail merci de vérifier vos spams ou <a href="{{ path('app_forgot_password_request') }}">cliquer ici</a>pour générer un nouvelle envoie.</p>
{% endblock %}
