{% extends 'base-admin.html.twig' %}


{% block title %}Edit Home{% endblock %}

{% block body %}
    <h1>Edit Home</h1>
<a href="{{ path('admin_home_index')}}" class="btn my-2" style="background:#edd34d;border:1px solid black">
    Retour           
        
</a>



{{ include('admin_home/_form.html.twig', {'button_label': '<i class="fa fa-floppy-o" aria-hidden="true"></i>'}) | raw }}


    

    {{ include('admin_home/_delete_form.html.twig') }}
{% endblock %}
