{% extends 'base-admin.html.twig' %}


{% block title %}Edit Photo{% endblock %}

{% block body %}
    <h1>Edit Photo</h1>
<a href="{{ path('admin_photo_index') }}" class="btn my-2" style="background:#edd34d;border:1px solid black">
    Retour           
        
</a>


{{ include('admin_photo/_form.html.twig', {'button_label': '<i class="fa fa-floppy-o" aria-hidden="true"></i>'}) | raw }}

    {{ include('admin_photo/_delete_form.html.twig') }}
{% endblock %}
